@use "../abstracts" as a;
@use "../abstracts/mixins" as m;

html,
body {
  scroll-behavior: smooth;
}

h2 {
  margin-top: 20px;
  font-size: 38px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 0px 20px 0 0px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

#book-list {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
  margin-top: 40px;
  padding-top: 40px;
  border-top: dashed 1px #333;
  border-bottom: dashed 1px #333;
  padding-bottom: 60px;
}

#book-list li {
  margin-bottom: 30px;
}

.loader-div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  .loader {
    max-width: 100px;
  }
}

@media screen and (min-width: 768px) {
  #book-list {
    column-count: 3;
  }
}
